*{
    background-color:rgb(0, 0, 68);
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(179, 179, 179);
}

.content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin: 5%;
}

.error{
    margin-top: 10%;
    font-size: 3em;
    color: red;
}

.errorBtn{
    position: fixed;
    margin-top: 20%;
}

span{
    color: #fff;
}

h4{
    font-weight: 200;
    font-size: 2em;
}

h6{
    font-weight: 100;
    font-size: 1em;
}

button{
    background-color: aliceblue;
    position: fixed;
    width: 10%;
    height: 5%;
    border-radius: 25px;
}

.shareBtn{
    margin-left: 15%;
}